<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>rpiSpringMvc</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webapp/css/stylesheet.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/css/button.css}" />
    <script type="text/javascript" th:src="@{/webapp/js/script.js}"></script>
</head>

<body>
    <div class="outerContainer">
        <div class="innerContainer">
            <div id="header">
                <div class="headerButton"><div class="headerButtonText">Button 1</div></div>
                <div class="headerButton"><div class="headerButtonText">Button 2</div></div>
                <div class="headerButton"><div class="headerButtonText">Button 3</div></div>
                <div class="headerButton"><div class="headerButtonText">Button 4</div></div>
            </div>
            <div id="mainContent">
                <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
                <p>Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.
                <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.
            </div>
        </div>
    </div>
</body>

</html>
