<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>rpiSpringMvc</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webapp/css/stylesheet.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webapp/css/button.css}" />
    <script type="text/javascript" th:src="@{/webapp/js/script.js}"></script>
</head>
<body>
    <div class="outerContainer">
        <div class="innerContainer">
            <div class="contentContainer">
                <button class="button">Button 1</button>
            </div>
            <div class="contentContainer">
                <button class="button">Button 2</button>
            </div>
            <div class="contentContainer">
                <button class="button">Button 3</button>
            </div>
            <div class="contentContainer">
                <button class="button">Button 4</button>
            </div>
        </div>
    </div>
</body>
</html>
