.headerButtonText {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.headerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--color-primary-1);
    border-style: solid;
    border-radius: 5px;
    flex: 1 1 auto;
    margin: 2px;
    height: 100%;
    background-color: var(--color-primary-3);
    border: none;
    cursor: pointer;
}

.headerButton:hover {
    background-color: var(--color-primary-1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.headerButton:active {
    background-color: var(--color-primary-2);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    transform: translateY(4px);
}
